<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Layout de Sitio Web con CSS GRID</title>
		{% load static %}
        <link rel="stylesheet" href="{% static 'grid_02.css' %}">
        <link rel="stylesheet" href="{% static 'style2.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

	</head>
	<body>
		<div class="contenedor">
			<header class="header">
				<h1>Success!</h1>
			</header>

			<main class="contenido">
				<h1>Welcome {{ user.username }}! </h1><br>
                <p>You have successfully logged in!</p><br>
                <div style="text-align: center; padding:20px">
                    <a href="{% url 'home' %}" class="button-1">Home</a>
                </div>
			</main>
			<footer class="footer">
				Coding Dojo - Latam
			</footer>
		</div>
	</body>
</html>