<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Layout de Sitio Web con CSS GRID</title>
		{% load static %}
        <link rel="stylesheet" href="{% static 'css/grid_02.css' %}">
        <link rel="stylesheet" href="{% static 'css/style3.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

	</head>
	<body>
		<div class="contenedor">
			<header class="header">
				<a href="/tvshow/tvshow"><h3>Go Back &#8594;</h3></a>
            <h1>TV Show {{show.id}}</h1> 
			</header>

			<main class="contenido">
				<h3>Title: {{show.title}} </h3>
                <h3>Network: {{show.network}}</h3>
                <h3>Release Date: {{show.release_date}}</h3>
                <h3>Description: {{show.description}}</h3>
                <h3>Last Updated: {{show.updated_at}}</h3>
                <a href="/tvshow/{{show.id}}/edit">Edit</a> | <a href="/tvshow/{{show.id}}/delete">Delete</a>
			</main>
			<footer class="footer">
				Coding Dojo - Latam
			</footer>
		</div>
	</body>
</html>